/*==========================================================================
Font
========================================================================== */
$slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
/*==========================================================================
Color
========================================================================== */
$body-color: #696969;
$white: #fff;
$primary-color: #1D7773;
$secondary-color: #FADC22;
$heading-color: #04060B;
$border1: #C4C4C4;
$border2: rgba(29, 101, 185, 0.1);
$border3: #D1D1D2;
$border4: #538b88;
$border5: #e0ecf1;
$border6: #E8E8E8;
$thin-bg: #F6F9FF;
$shadow:rgba(0, 0, 0, 0.07);