/*==========================================================================
Banner 
========================================================================== */
.banner__area {
    position: relative;
    &-content {
        padding-top: 170px;
        padding-bottom: 188px;
        position: relative;
        z-index: 9;
        max-width: 900px;
        h1 {
            color: $white;
            font-size: 100px;
            line-height: 110px;
            font-weight: 800;
            margin-bottom: 55px;
            text-transform: capitalize;
        }
        &-area {
            transform: translateY(-50px);
            transition: transform 2000ms ease;
            opacity: 0;
        }
    }
    &-btn {
        margin-top: 8px;
        margin-right: 30px;
    }
    &-swiper-image {
        background-color: $heading-color;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
		transition: all 40s ease-out 0s;
		transform: scale(1);                                  
        bottom: 0;
        z-index: 1;
        text-align: center;
        &::after {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 100%;
            height: 100%;
            z-index: -1;
            background: $heading-color;
            opacity: 0.82;
        }
    }
    &-button {
        transform: translateY(40px);
        transition: transform 2000ms ease;
        opacity: 0;
        display: flex;
        align-items: center;
        &-contact {
            h4 {
                color: $white;
                font-weight: 400;
                a {
                    color: $secondary-color;
                    margin-left: 5px;
                    display: inline-block;
                }
            }
        }       
    }
    &.swiper-slide {
        &-active {
            .banner__area {
                &-content {
                    &-area {
                        transform: translateY(0%);
                        opacity: 1;                        
                    }
                }
                &-button {
                    transform: translateY(0%);
                    opacity: 1;         
                }               
            }
            .banner__area-swiper-image {
				transform: scale(1.7);
            }
        }
    }
    &-dots {
        position: absolute;
        top: 45%;
        left: 150px;
        width: 50px;
        height: 140px;
        display: inline-block;
        transform: translateY(-35%);
        z-index: 9;
        .swiper-pagination-bullet {
            background: none;
            color: $white;
            font-size: 20px;
            transition: all 0.3s ease-out 0s;
            opacity: 1;
            font-family: $slab;
            font-weight: 500;
            padding-bottom: 45px;
            position: relative;
            display: block;
            &::before {
                position: absolute;
                content: "\f106";
                font-family: flaticon;
                top: 0;
                left: 0;
                display: none;
            }
            &.swiper-pagination-bullet-active {
                background: none;
                color: $secondary-color;
                padding-left: 25px;
                &::before {
                    display: block;
                }
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    &-prev {
        position: absolute;
        bottom: 95px;
        right: 165px;
        .swiper-button-prev.slide-prev {
            right: 100px;
            left: auto;
            font-size: 18px;
            font-weight: 400;
            color: $white;
            font-family: $slab;
            i {
                &::before {
                    color: $white;
                    margin-right: 15px;
                    position: relative;
                    top: 3px;
                    font-size: 22px;
                }
            }
        }
        .swiper-button-next.slide-next {
            font-size: 18px;
            font-weight: 400;
            color: $white;
            font-family: $slab;
            i {
                &::before {
                    color: $white;
                    margin-left: 15px;
                    position: relative;
                    top: 3px;
                    font-size: 22px;
                }
            }
        }
    }
}
.swiper-button-prev::after {
    display: none;
}
.swiper-button-next::after {
    display: none;
}
@media (max-width: 1700px) {
    .banner__area {
        &-dots {
            display: none;
        }
    }
}
@media (max-width: 1400px) {
    .banner__area {
        &-content {
            h1 {
                font-size: 90px;
                line-height: 100px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .banner__area {
        &-content {
            h1 {
                font-size: 90px;
                line-height: 100px;
                margin-bottom: 45px;
            }
        }
    }
}
@media (max-width: 991px) {
    .banner__area {
        &-content {            
            h1 {
                font-size: 70px;
                line-height: 80px;
                margin-bottom: 40px;
            }
        }
    }
}
@media (max-width: 767px) {
    .banner__area {
        &-content {            
            h1 {
                font-size: 60px;
                line-height: 70px;
            }
        }
    }
}
@media (max-width: 575px) {
    .banner__area {
        &-prev {
            position: absolute;
            bottom: 95px;
            right: auto;
            left: 170px;
        }
    }
}
@media (max-width: 515px) {
    .banner__area {
        &-content {
            h1 {
                font-size: 50px;
                line-height: 60px;
                margin-bottom: 20px;
            }
        }
        &-btn {
            margin: 0;
            margin-bottom: 20px;
        }
        &-button {
            display: inline-block;            
        }
    }
}
@media (max-width: 440px) {
    .banner__area {
        &-content {
            h1 {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}
@media (max-width: 360px) {
    .banner__area {
        &-content {
            h1 {
                font-size: 35px;
                line-height: 45px;
            }
        }
    }
}